/* Custom styling for range slider thumbs */
input[type="range"] {
  position: absolute;
  top: 2px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--color-primary);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.custom-input {
  border: none;
  border-bottom: 1px solid var(--color-border);
  outline: none;
  padding: 8px;
  width: 100%;
  background: transparent;
}
.custom-input:focus {
  border-bottom: 2px solid var(--color-foreground);
}
/* Hide default checkbox */
.custom-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Custom Tick Icon */
.custom-checkbox:checked::before {
  content: "✓";
  color: var(--color-primary);
  font-size: 16px;
  font-weight: normal;
}
